* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

h1 {
  margin-top: 32px;
  font-weight: 600;
}

h2 {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 16px 48px;
}

form {
  display: flex;
  gap: 8px;
  width: 35%;
}

header img:hover {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 24px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.poke-container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px;
  color: white;
  border-radius: 16px;
  padding: 16px;
}

.grass,
.poison,
.bug {
  background-color: rgba(97, 207, 12, 0.898);
}

.ice,
.water {
  background-color: rgba(69, 166, 245);
}

.fire {
  background-color: rgb(245, 69, 69);
}

.electric {
  background-color: rgb(240, 221, 50);
}

.psychic,
.fighting {
  background-color: rgb(150, 34, 163);
}

.rock,
.dark,
.steel {
  background-color: rgb(115, 112, 115);
}

.flying,
.normal,
.fairy {
  background-color: rgb(231, 184, 138);
}

.ground {
  background-color: rgb(124, 72, 9);
}

.ghost {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.4)
}

.dragon {
  background-color: rgba(197, 168, 6, 0.903);
}

.poke-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.types span {
  filter: drop-shadow(2px 4px 6px rgba(0,0,0, 0.6));
  text-align: center;
  vertical-align: middle;
  padding: 4px 16px;
  border-radius: 12px;
  font-weight: 500;
}

.poke-image {
  width: 128px;
  height: 128px;
  object-fit: contain;
}

.pages {
  display: flex;
  justify-content: space-around;
  width: 650px;
}

.d-none {
  display: none;
}
