* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  filter: drop-shadow(2px 4px 6px black);
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.poke-container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 200px;
  background-color: #61cf0ce5;
  color: white;
  border-radius: 16px;
  padding: 16px;
}

.poke-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.types span {
  background-color: transparent;
  filter: drop-shadow(2px 4px 6px black);  text-align: center;
  vertical-align: middle;
  padding: 4px 16px;
  border-radius: 12px;
}

.poke-image {
  width: 128px;
  height: 128px;
  object-fit: contain;
}
